.footer{
    background-color: #04254C;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    display: flex;
    color: #fff;
    font: normal normal normal 16px/23px 'Montserrat';
}

.textoFooter{
    width: 430px;
}

.textoFooter h3{
    font-weight: 600;
}

.botaoFooter{
    margin-top: 20px;
    padding: 8px 15px;
    border: 1px solid #FFB900;
    border-radius: 10px;
    background-color: #FFB900;
    color: #fff;
    font: 400;
    cursor: pointer;
    font-weight: 600;
}

.botaoFooter:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}

.botaoFooter::after{
    content: url('../img/Caminho\ 221.svg');
    margin-left: 10px;
}

/*--------------*/
.servicosFooter{
    margin: 0 70px;
    width: 131px;
}

.servicosFooter p{
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

.enderecosFooter, .listasFooter{
    list-style:none;
    padding-left: 0;
}

.servicosFooter .listasFooter li{
    line-height: 2.5em;
}
.servicosFooter .listasFooter li:hover{
    color: aqua;
}

/*---------------*/
/* nova tentativa*/
/*---------------*/


.enderecosGeral{
    display: flex;
    justify-content: space-between;
}

.enderecosMark{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.enderecosMark img{
    background-color: #fff;
    border: #fff solid 20px;
    border-radius: 50%;
}

.enderecosTexto{
    width: 322px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}