.listaRequisitos, .listaDetalhes{
    list-style:none;
    padding-left: 0;
    font: 16px/23px 'Montserrat';
}

.listaRequisitos li::before, .listaDetalhes li::before{
    content: "\2022";
    margin-right: 5px;
}

.requisitos{
    height: 13%;
    /* max-height: 310px; */
    margin: 50px auto 50px auto;
    display: flex;
    justify-content: center;
    color: #032624;
}

.fotoRequisitos{
    max-width: 470px;
    width: 25%;
    text-align: left;
}

.textoRequisitos{
    text-align: left;
    font: 500;
    opacity: 1;
    max-width: 470px;
    width: 25%;
    margin-top: auto;
    margin-bottom: auto;
}

.textoRequisitos h1{
    color: #0EAFAC;
    font-weight: bolder;
}

.textoRequisitos p{
    font-weight: bolder;
}

.detalhes{
    height: 13%;
    /* max-height: 310px; */
    margin: 50px auto 50px auto;
    display: flex;
    justify-content: center;
    color: #032624;
}

.textoDetalhes{
    text-align: left;
    font: 500;
    opacity: 1;
    max-width: 470px;
    width: 25%;
    margin-top: auto;
    margin-bottom: auto;
}

.textoDetalhes h1{
    color: #0EAFAC;
    font-weight: bolder;
}

.textoDetalhes p{
    font-weight: bolder;
}

.fotoDetalhes{
    max-width: 470px;
    width: 25%;
    text-align: right;
}

@media screen and (max-width: 767px) {
    .requisitos{
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .textoRequisitos{
        min-width: 80%;
    }

    .fotoRequisitos{
        width: auto;
    }

    .detalhes{
        flex-direction: column;
        align-items: center;
        margin-top: 0 auto;
    }

    .textoDetalhes{
        min-width: 80%;
    }

    .fotoDetalhes{
        width: auto;
    }
}