.newsLetter{
    height: 15%;
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #19DBD1;
    padding: 50px;
}

.newsTexto{
    text-align: left;
    font: 500;
    max-width: 480px;
    width: 25%;
}

.newsForm{
    max-width: 470px;
    width: 25%;
    text-align: left;
}

form input{
    width: 80%;
    height: 35px;
    border: 0;
    border-radius: 10px;
    margin-bottom: 13px;
    padding-left: 10px;
    font: 400;
}

.newsForm p{
    font: normal normal 600 16px/23px 'Montserrat';
}

.botaoNews{
    padding: 5px 5%;
    border: 1px solid #FFB900;
    border-radius: 10px;
    background-color: #FFB900;
    color: #fff;
    font: 400;
    cursor: pointer;
    font: normal normal 600 16px/23px 'Montserrat';
}

.botaoNews:hover{
    background-color: #fff;
    color: #FFB900;
    border: 1px solid #FFB900;
}

@media screen and (max-width: 767px) {
    .newsLetter{
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .newsTexto{
        width: 100%;
    }

    .newsForm{
        width: 100%;
    }
}