.sobre{
    height: 13%;
    /* max-height: 310px; */
    margin: 50px auto 50px auto;
    display: flex;
    justify-content: center;
    color: #032624;
}

.textoSobre{
    text-align: left;
    font: 500;
    color: #032624;
    opacity: 1;
    max-width: 470px;
    width: 25%;
    margin-top: auto;
    margin-bottom: auto;
}

.textoSobre h1{
    font-weight: bolder;
}

.textoSobre p:last-child{
    font-weight: bold;
    color: #0EAFAC;
}

.fotoSobre{
    max-width: 470px;
    width: 25%;
    text-align: right;
}

@media screen and (max-width: 767px) {
    .sobre{
        padding: 10px 10px 0 10px;
        margin: 0 0 20px 0;
        flex-direction: column;
        align-items: center;
    }

    .textoSobre{
        text-align: center;
        width: auto;
    }

    .fotoSobre{
        max-width: auto;
        width: auto;
        text-align: center;
    }
}