.banner{
    height: 15%;
    max-height: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    background: url('/img/Background.png');
    background-position: center;
    background-size: 100% 100%;
}

.textoBanner{
    max-width: 470px;
    width: 25%;
    display: block;
    text-align: left;
}

.textoBanner h1{
    width: 80%;
    font-size: 2.5em;
    font-weight: 700;
}

.textoBanner p{
    width: 60%;
    color: #FFFFFF;
    line-height: 2em;
}

.logoBanner{
    max-width: 470px;
    width: 25%;
    display: block;
}

.rocket{
    margin: auto;
    margin-bottom: 25px;
    display: block;
}

.talents{
    margin: auto;
    margin-top: 25px;
    display: block;
}

@media screen and (max-width: 480px) {
    .banner{
        margin: 0 auto;
        width: 100%;
        text-align: left;
        border: #ff0000 solid 1px;
    }
    .textoBanner{
        display: flex;
        justify-content: center;
        flex-flow: column;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        border: #00ff40 solid 1px;
    }
    .textoBanner img{
        width: 25%;
    }
    .logoBanner{
        display: none;
    }
}